<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wares.commodity.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="cn.wares.commodity.entity.Goods">
    <result column="id" property="id" />
    <result column="goods_name" property="goodsName" />
    <result column="goods_image" property="goodsImage" />
    <result column="user_id" property="userId" />
    <result column="price" property="price" />
    <result column="goods_type1" property="goodsType1" />
    <result column="goods_type2" property="goodsType2" />
    <result column="goods_type3" property="goodsType3" />
    <result column="stock" property="stock" />
    <result column="is_delete" property="isDelete" />
  </resultMap>

  <!-- 表字段 -->
  <sql id="baseColumns">
         t.id
        , t.goods_name
        , t.goods_image
        , t.user_id
        , t.price
        , t.goods_type1
        , t.goods_type2
        , t.goods_type3
        , t.stock
        , t.is_delete
        </sql>

  <!-- 查询全部 -->
  <select id="listAll" resultMap="BaseResultMap">
    SELECT
    <include refid="baseColumns" />
    FROM goods t
    where is_delete=0
  </select>

  <!-- 根据主键获取单条记录 -->
  <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
    SELECT
    <include refid="baseColumns" />
    FROM goods t
    WHERE id = #{id} and is_delete=0
  </select>

  <!-- 插入全部字段 -->
  <insert id="insert" parameterType="cn.wares.commodity.entity.Goods"
          keyProperty="id" keyColumn="id" useGeneratedKeys="true"
  >
    INSERT INTO goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      goods_name,
      goods_image,
      user_id,
      price,
      goods_type1,
      goods_type2,
      goods_type3,
      stock,
      is_delete,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      #{goodsName},
      #{goodsImage},
      #{userId},
      #{price},
      #{goodsType1},
      #{goodsType2},
      #{goodsType3},
      #{stock},
      #{isDelete},
    </trim>
  </insert>

  <!-- 插入不为NULL的字段 -->
  <insert id="insertIgnoreNull" parameterType="cn.wares.commodity.entity.Goods"
          keyProperty="id" keyColumn="id" useGeneratedKeys="true"
  >
    INSERT INTO goods
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsImage != null">
        goods_image,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="goodsType1 != null">
        goods_type1,
      </if>
      <if test="goodsType2 != null">
        goods_type2,
      </if>
      <if test="goodsType3 != null">
        goods_type3,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="goodsName != null" >
        #{goodsName},
      </if>
      <if test="goodsImage != null" >
        #{goodsImage},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="price != null" >
        #{price},
      </if>
      <if test="goodsType1 != null" >
        #{goodsType1},
      </if>
      <if test="goodsType2 != null" >
        #{goodsType2},
      </if>
      <if test="goodsType3 != null" >
        #{goodsType3},
      </if>
      <if test="stock != null" >
        #{stock},
      </if>
      <if test="isDelete != null" >
        #{isDelete},
      </if>
    </trim>
  </insert>

  <!-- 更新,更新全部字段 -->
  <update id="update" parameterType="cn.wares.commodity.entity.Goods">
    UPDATE goods
    <set>
      goods_name=#{goodsName},
      goods_image=#{goodsImage},
      user_id=#{userId},
      price=#{price},
      goods_type1=#{goodsType1},
      goods_type2=#{goodsType2},
      goods_type3=#{goodsType3},
      stock=#{stock},
      is_delete=#{isDelete},
    </set>
    WHERE id = #{id}
  </update>


  <!-- 更新不为NULL的字段 -->
  <update id="updateIgnoreNull" parameterType="cn.wares.commodity.entity.Goods">
    UPDATE goods
    <set>
      <if test="goodsName != null" >
        goods_name=#{goodsName},
      </if>
      <if test="goodsImage != null" >
        goods_image=#{goodsImage},
      </if>
      <if test="userId != null" >
        user_id=#{userId},
      </if>
      <if test="price != null" >
        price=#{price},
      </if>
      <if test="goodsType1 != null" >
        goods_type1=#{goodsType1},
      </if>
      <if test="goodsType2 != null" >
        goods_type2=#{goodsType2},
      </if>
      <if test="goodsType3 != null" >
        goods_type3=#{goodsType3},
      </if>
      <if test="stock != null" >
        stock=#{stock},
      </if>
      <if test="isDelete != null" >
        is_delete=#{isDelete},
      </if>
    </set>
    WHERE id = #{id}
  </update>


  <!-- 根据主键删除记录 -->
  <delete id="delete" parameterType="cn.wares.commodity.entity.Goods">
		UPDATE goods
		SET is_deleted=1
		WHERE id = #{id}
	</delete>


</mapper>