<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wares.commodity.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="cn.wares.commodity.entity.Order">
    <result column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="user_address" property="userAddress" />
    <result column="cost" property="cost" />
    <result column="createtime" property="createtime" />
  </resultMap>

  <!-- 表字段 -->
  <sql id="baseColumns">
         t.id
        , t.user_id
        , t.user_address
        , t.cost
        , t.createtime
        </sql>

  <!-- 查询全部 -->
  <select id="listAll" resultMap="BaseResultMap">
    SELECT
    <include refid="baseColumns" />
    FROM order t
  </select>

  <!-- 根据主键获取单条记录 -->
  <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
    SELECT
    <include refid="baseColumns" />
    FROM order t
    WHERE id = #{id}
  </select>

  <!-- 插入全部字段 -->
  <insert id="insert" parameterType="cn.wares.commodity.entity.Order"
          keyProperty="id" keyColumn="id" useGeneratedKeys="true"
  >
    INSERT INTO order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      user_id,
      user_address,
      cost,
      createtime,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      #{userId},
      #{userAddress},
      #{cost},
      #{createtime},
    </trim>
  </insert>

  <!-- 插入不为NULL的字段 -->
  <insert id="insertIgnoreNull" parameterType="cn.wares.commodity.entity.Order"
          keyProperty="id" keyColumn="id" useGeneratedKeys="true"
  >
    INSERT INTO order
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="userId != null">
        user_id,
      </if>
      <if test="userAddress != null">
        user_address,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="userAddress != null" >
        #{userAddress},
      </if>
      <if test="cost != null" >
        #{cost},
      </if>
      <if test="createtime != null" >
        #{createtime},
      </if>
    </trim>
  </insert>

  <!-- 更新,更新全部字段 -->
  <update id="update" parameterType="cn.wares.commodity.entity.Order">
    UPDATE order
    <set>
      user_id=#{userId},
      user_address=#{userAddress},
      cost=#{cost},
      createtime=#{createtime},
    </set>
    WHERE id = #{id}
  </update>


  <!-- 更新不为NULL的字段 -->
  <update id="updateIgnoreNull" parameterType="cn.wares.commodity.entity.Order">
    UPDATE order
    <set>
      <if test="userId != null" >
        user_id=#{userId},
      </if>
      <if test="userAddress != null" >
        user_address=#{userAddress},
      </if>
      <if test="cost != null" >
        cost=#{cost},
      </if>
      <if test="createtime != null" >
        createtime=#{createtime},
      </if>
    </set>
    WHERE id = #{id}
  </update>


  <!-- 根据主键删除记录 -->
  <delete id="delete" parameterType="cn.wares.commodity.entity.Order">
		delete from order
		WHERE id = #{id}
	</delete>


</mapper>