<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wares.commodity.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.wares.commodity.entity.User">
    <result column="id" property="id" />
    <result column="user_name" property="userName" />
    <result column="user_sex" property="userSex" />
    <result column="user_identity" property="userIdentity" />
    <result column="phone" property="phone" />
    <result column="password" property="password" />
    <result column="role_id" property="roleId" />
    <result column="is_delete" property="isDelete" />
  </resultMap>

  <!-- 表字段 -->
  <sql id="baseColumns">
         t.id
        , t.user_name
        , t.user_sex
        , t.user_identity
        , t.phone
        , t.password
        , t.role_id
        , t.is_delete
        </sql>

  <!-- 查询全部 -->
  <select id="listAll" resultMap="BaseResultMap">
    SELECT
    <include refid="baseColumns" />
    FROM user t
  </select>

  <!-- 根据主键获取单条记录 -->
  <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
    SELECT
    <include refid="baseColumns" />
    FROM user t
    WHERE id = #{id}
  </select>

  <!-- 插入全部字段 -->
  <insert id="insert" parameterType="cn.wares.commodity.entity.User"
          keyProperty="id" keyColumn="id" useGeneratedKeys="true"
  >
    INSERT INTO user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      user_name,
      user_sex,
      user_identity,
      phone,
      password,
      role_id,
      is_delete,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      #{userName},
      #{userSex},
      #{userIdentity},
      #{phone},
      #{password},
      #{roleId},
      #{isDelete},
    </trim>
  </insert>

  <!-- 插入不为NULL的字段 -->
  <insert id="insertIgnoreNull" parameterType="cn.wares.commodity.entity.User"
          keyProperty="id" keyColumn="id" useGeneratedKeys="true"
  >
    INSERT INTO user
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="userName != null">
        user_name,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userIdentity != null">
        user_identity,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="userName != null" >
        #{userName},
      </if>
      <if test="userSex != null" >
        #{userSex},
      </if>
      <if test="userIdentity != null" >
        #{userIdentity},
      </if>
      <if test="phone != null" >
        #{phone},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="roleId != null" >
        #{roleId},
      </if>
      <if test="isDelete != null" >
        #{isDelete},
      </if>
    </trim>
  </insert>

  <!-- 更新,更新全部字段 -->
  <update id="update" parameterType="cn.wares.commodity.entity.User">
    UPDATE user
    <set>
      user_name=#{userName},
      user_sex=#{userSex},
      user_identity=#{userIdentity},
      phone=#{phone},
      password=#{password},
      role_id=#{roleId},
      is_delete=#{isDelete},
    </set>
    WHERE id = #{id}
  </update>


  <!-- 更新不为NULL的字段 -->
  <update id="updateIgnoreNull" parameterType="cn.wares.commodity.entity.User">
    UPDATE user
    <set>
      <if test="userName != null" >
        user_name=#{userName},
      </if>
      <if test="userSex != null" >
        user_sex=#{userSex},
      </if>
      <if test="userIdentity != null" >
        user_identity=#{userIdentity},
      </if>
      <if test="phone != null" >
        phone=#{phone},
      </if>
      <if test="password != null" >
        password=#{password},
      </if>
      <if test="roleId != null" >
        role_id=#{roleId},
      </if>
      <if test="isDelete != null" >
        is_delete=#{isDelete},
      </if>
    </set>
    WHERE id = #{id}
  </update>


  <!-- 根据主键删除记录 -->
  <delete id="delete" parameterType="cn.wares.commodity.entity.User">
		UPDATE user
		SET is_deleted=1
		WHERE id = #{id}
	</delete>


</mapper>