<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wares.commodity.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.wares.commodity.entity.User">
    <result column="id" property="id" />
    <result column="user_name" property="userName" />
    <result column="user_sex" property="userSex" />
    <result column="user_identity" property="userIdentity" />
    <result column="phone" property="phone" />
    <result column="password" property="password" />
    <result column="role_id" property="roleId" />
    <result column="is_delete" property="isDelete" />
    <association property="role" javaType="cn.wares.commodity.entity.Role">
      <id property="id" column="id"/>
      <result property="roleName" column="role_name"/>
    </association>
  </resultMap>

  <!-- 表字段 -->
  <sql id="baseColumns">
         t.id
        , t.user_name
        , t.user_sex
        , t.user_identity
        , t.phone
        , t.password
        , t.role_id
        , t.is_delete
        </sql>
  <sql id="user_role">
        t.id
        , t.user_name
        , t.user_sex
        , t.user_identity
        , t.phone
        , t.password
        , r.role_name
        , t.is_delete
  </sql>

  <!-- 查询全部 -->
  <select id="listAll" resultMap="BaseResultMap">
    SELECT
    <include refid="baseColumns" />
    FROM user t
    where is_delete=0
  </select>

  <!--分页查询-->
  <select id="selectPageUser" resultMap="BaseResultMap">
    select 
    <include refid="user_role"/>
    from user t
    left join role r on t.role_id=r.id
    <where>
      <if test="userName!=null and ''!=userName">
        and t.user_name like concat('%',#{userName},'%')
      </if>
      <if test="phone!=null and ''!=phone">
        and t.phone like concat('%',#{phone},'%')
      </if>
      <if test="roleId!=null and roleId>0">
      and t.role_id=#{roleId}
      </if>
      and is_delete=0
    </where>
  </select>

  <select id="count" resultType="java.lang.Integer">
    select count(1)
    from user t
    left join role r on t.role_id=r.id
    <where>
      <if test="userName!=null and ''!=userName">
        and t.user_name like concat('%',#{userName},'%')
      </if>
      <if test="phone!=null and ''!=phone">
        and t.phone like concat('%',#{phone},'%')
      </if>
      <if test="roleId!=null and roleId>0">
        and t.role_id=#{roleId}
      </if>
      and is_delete=0
    </where>
  </select>

  <!-- 根据主键获取单条记录 -->
  <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
    SELECT
    <include refid="baseColumns" />
    FROM user t
    WHERE id = #{id} and is_delete=0
  </select>


  <!-- 插入不为NULL的字段 -->
  <insert id="insertIgnoreNull" parameterType="cn.wares.commodity.entity.User"
          keyProperty="id" keyColumn="id" useGeneratedKeys="true"
  >
    INSERT INTO user
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="userName != null">
        user_name,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userIdentity != null">
        user_identity,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="userName != null" >
        #{userName},
      </if>
      <if test="userSex != null" >
        #{userSex},
      </if>
      <if test="userIdentity != null" >
        #{userIdentity},
      </if>
      <if test="phone != null" >
        #{phone},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="roleId != null" >
        #{roleId},
      </if>
      <if test="isDelete != null" >
        #{isDelete},
      </if>
    </trim>
  </insert>


  <!-- 更新不为NULL的字段 -->
  <update id="updateIgnoreNull" parameterType="cn.wares.commodity.entity.User">
    UPDATE user
    <set>
      <if test="userName != null" >
        user_name=#{userName},
      </if>
      <if test="userSex != null" >
        user_sex=#{userSex},
      </if>
      <if test="userIdentity != null" >
        user_identity=#{userIdentity},
      </if>
      <if test="phone != null" >
        phone=#{phone},
      </if>
      <if test="password != null" >
        password=#{password},
      </if>
      <if test="roleId != null" >
        role_id=#{roleId},
      </if>
      <if test="isDelete != null" >
        is_delete=#{isDelete},
      </if>
    </set>
    WHERE id = #{id} and is_delete=0
  </update>


  <!-- 根据主键删除记录 -->
  <delete id="delete" parameterType="cn.wares.commodity.entity.User">
	UPDATE user
	SET is_delete=1
	WHERE id = #{id}
  </delete>


</mapper>